// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



ul li {

  list-style: none;
}

li h3 {
  list-style: none;
}


.details  {

background-color: #d3d3d34f;;
padding: 25px 20px;
border: 1px solid lightgrey;
border-radius: 2px;
}

